
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}


$color-primary: #FFD717;
$color-secondary: #000B17;
$color-tertiary: #000E1D;

//https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap
html{

    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    
    @media screen and (max-width: 800px){

        font-size: 50%;

    }
}

body{

    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8,[col-start]  minmax(min-content, 15rem) [col-start]) [center-end] minmax(2rem, 1fr) [full-end];
    background-color: $color-tertiary;
}

.video__background{
    position: fixed;
    width:100%;
    height: 100%;
    z-index: -1;
    .video__src{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .video__overlay{

        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #000e1deb;
    }
}

.ballon_loader{
    background: $color-secondary;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 111;
    transition: all 2s ease-in-out;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FFD717;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e0ca5f;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffd300;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

