.footer{
    
    grid-column: full-start/full-end;
    background-color: #000A15;
    text-align: center;
    padding: 17px 0;
    &__author{
        color: white;
        font-size: 2rem;
        h4{
            display: inline;
            color: #FFD717;
            letter-spacing: 1px;
            font-size: 2.3rem;
            text-transform: uppercase;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}