.second{

    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: 34% 34%;
    margin-top: 35px;
    margin-bottom: 70px;
    justify-content: center;
    column-gap: 114px;
    @media screen and (max-width: 800px){
        grid-template-columns: 90%;
        row-gap: 33px;
    }
    &__content{
        text-align: center;
        color: #6EC189;
        opacity: 0;      
    }
    &__info{
        text-align: center;
        background-color: #000B17;
        border-radius: 14px;
        padding-top: 11px;
        padding-bottom: 20px;
        box-shadow: 0 0px 12px 5px rgba($color: #6EC189, $alpha: 0.03);
        h3{
            font-size: 2rem;
            letter-spacing: 1px;
            border-bottom: 1px solid;
            padding-bottom: 16px;
            margin-bottom: 15px;
        }
        p{
            font-size: 2.2rem;
            letter-spacing: 1px;
            span{
                margin-left: 10px;
                font-weight: 600;
            }
        }
    }
    &__title{
        margin-bottom: 4px;
        font-size: 3rem;
    }
    &__img{
        img{
            width: 133px;
            border-radius: 50%;
            height: 130px;
            margin: 15px 0;
            border: 1px solid;
            padding: 4px;
            margin-bottom: 10px;
        }
    }

}


.moveUp{

    animation-name: moveUp;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    opacity: 1;
    
    @keyframes moveUp {
        
        0%{
            opacity: 0;
            transform: translateY(38px);

        }

        100%{
            opacity: 1;
            transform: translateY(10px);
        }

    }
}
.moveUpLast{

    animation-name: moveUpLa;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    // animation-delay: 1s;
    opacity: 1;
    
    @keyframes moveUpLa {
        
        0%{
            opacity: 0;
            transform: translateY(78px);

        }

        100%{
            opacity: 1;
            transform: translateY(10px);
        }

    }
}